<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapxus.mapxusmapandroiddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/mapsampleicon1024"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">
        <!-- setup your appid and secret -->
        <meta-data
            android:name="com.mapxus.api.v1.appid"
            android:value="${appid}" />
        <meta-data
            android:name="com.mapxus.api.v1.secret"
            android:value="${secret}" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".examples.basics.SimpleMapViewActivity"
            android:label="@string/activity_basic_simple_mapview_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.basics.SupportMapFragmentActivity"
            android:label="@string/activity_basic_support_map_frag_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.styles.DefaultStyleActivity"
            android:label="@string/activity_styles_default_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.DrawMarkerActivity"
            android:label="@string/activity_annotation_marker_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.DrawLineActivity"
            android:label="@string/activity_annotation_line">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.DrawCustomMarkerActivity"
            android:label="@string/activity_annotation_custom_marker_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.DrawPolygonActivity"
            android:label="@string/activity_annotation_polygon_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.camera.AnimateMapCameraActivity"
            android:label="@string/activity_camera_animate_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.basics.MapxusMapOptionActivity"
            android:label="@string/activity_basic_beemap_options_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.styles.MapxusMapWithoutOutdoorActivity"
            android:label="@string/activity_basic_beemap_without_outdoor_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.AnimatedMarkerActivity"
            android:label="@string/activity_annotation_animated_marker_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.camera.RestrictCameraActivity"
            android:label="@string/activity_camera_restrict_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.annotations.PolygonHolesActivity"
            android:label="@string/activity_annotation_polygon_holes_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.listener.BuildingAndFloorChangeListenerActivity"
            android:label="@string/activity_listener_building_floor_change_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.listener.PoiClickListenerActivity"
            android:label="@string/activity_listener_poi_click_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.listener.CameraListenerActivity"
            android:label="@string/activity_listener_camera_change_listener_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchBuildingNearbyActivity"
            android:label="@string/activity_search_service_building_nearby_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchBuildingInboundActivity"
            android:label="@string/activity_search_service_building_in_bound_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchBuildingDetailActivity"
            android:label="@string/activity_search_service_building_by_id_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchBuildingGlobalActivity"
            android:label="@string/activity_search_service_building_global_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchPoiNearbyActivity"
            android:label="@string/activity_search_service_poi_nearby_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchPoiInboundActivity"
            android:label="@string/activity_search_service_poi_in_bound_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchPoiDetailActivity"
            android:label="@string/activity_search_service_poi_by_id_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.searchservices.SearchPoiInBuildingActivity"
            android:label="@string/activity_search_service_poi_in_building_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity android:name=".examples.searchservices.SearchPoiWithOrientationActivity"
            android:label="@string/activity_search_service_poi_with_orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>

        <activity
            android:name=".examples.searchservices.RoutePlanningActivity"
            android:label="@string/activity_search_service_route_planning_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.displaylocation.LocationProviderActivity"
            android:label="@string/activity_display_location_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.visual.DisplayVisualActivity"
            android:label="@string/activity_360_view_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.controllers.SelectorPositionActivity"
            android:label="@string/activity_selector_position_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.controllers.HiddenSelectorActivity"
            android:label="@string/activity_hidden_selector_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.basics.MapxusMapInitWithBuildingActivity"
            android:label="@string/activity_basic_beemap_init_with_building_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>
        <activity
            android:name=".examples.basics.MapxusMapInitWithPoiActivity"
            android:label="@string/activity_basic_beemap_init_with_poi_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapxus.mapxusmapandroiddemo.MainActivity" />
        </activity>

    </application>

</manifest>